<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Perfil Profesional</title>
</head>
<body>
    <header>
        <h1>Junior ochoa </h1>
        <p>Desarrollador Web | Diseñador Gráfico | Innovador Creativo</p>
    </header>
    
    <section>
        <img src='imagen/unnamed.png' alt="Descripcion de la imagen">
        <script src="{{ url_for('static', filename='')}}"></script>
        
        <h2>Información Personal</h2>
        <div class="informacion">
            <p><strong>Nombre:</strong> Junior ochoa</p>
            <p><strong>Edad:</strong> 21 años</p>
            <p><strong>Ubicación:</strong> huancayo- peru</p>
            <p><strong>Email:</strong> juniorochoa@gmail.com</p>
            <p><strong>Teléfono:</strong> +51 950524052</p>
        </div>
        
        <h2>Acerca de mí</h2>
        <p>Soy un desarrollador web apasionado por crear experiencias digitales únicas y fáciles de usar. Con más de 5 años de experiencia, he trabajado en diversos proyectos, desde pequeñas startups hasta grandes empresas. Mi objetivo es crear soluciones tecnológicas que realmente impacten a los usuarios.</p>
        
        <h2>Habilidades</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>React, Node.js, Angular</li>
            <li>Diseño UX/UI</li>
            <li>Photoshop, Illustrator</li>
            <li>Gestión de proyectos ágiles</li>
        </ul>
        
        <h2>Experiencia Profesional</h2>
        <div class="experiencia">
            <p><strong>Desarrollador Frontend</strong> - Empresa ABC (2020 - Actualidad)</p>
            <p>Responsable del desarrollo de interfaces web interactivas, optimizando la experiencia de usuario para aplicaciones móviles y de escritorio.</p>
            
            <p><strong>Diseñador Gráfico</strong> - Agencia XYZ (2017 - 2020)</p>
            <p>Creación de piezas gráficas para marketing digital y material publicitario. Coordinación de campañas visuales con equipos de marketing.</p>
        </div>
        
        <h2>Educación</h2>
        <p><strong>Grado en Ingeniería en Sistemas Computacionales</strong> - ic continental (2022 - 2025)</p>
    </section>

    <footer>
        <p>&copy; 2025 junior ochoa</p>
    </footer>
</body>
</html>
